
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.dll
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.xml
packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.6.2.0/tools/EntityFramework.psd1
packages/EntityFramework.6.2.0/tools/EntityFramework.psm1
packages/EntityFramework.6.2.0/tools/init.ps1
packages/EntityFramework.6.2.0/tools/install.ps1
packages/EntityFramework.6.2.0/tools/migrate.exe
packages/Google.Protobuf.3.5.1/.signature.p7s
packages/Google.Protobuf.3.5.1/Google.Protobuf.3.5.1.nupkg
packages/Google.Protobuf.3.5.1/lib/net45/Google.Protobuf.dll
packages/Google.Protobuf.3.5.1/lib/net45/Google.Protobuf.xml
packages/Google.Protobuf.3.5.1/lib/netstandard1.0/Google.Protobuf.dll
packages/Google.Protobuf.3.5.1/lib/netstandard1.0/Google.Protobuf.xml
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/.signature.p7s
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/lib/net35/Microsoft.Diagnostics.Tracing.EventSource.dll
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/lib/net35/Microsoft.Diagnostics.Tracing.EventSource.XML
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/lib/net40/Microsoft.Diagnostics.Tracing.EventSource.dll
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/lib/net40/Microsoft.Diagnostics.Tracing.EventSource.XML
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/lib/net46/Microsoft.Diagnostics.Tracing.EventSource.dll
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/lib/net46/Microsoft.Diagnostics.Tracing.EventSource.XML
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/lib/portable-win8+wpa81/Microsoft.Diagnostics.Tracing.EventSource.dll
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/lib/portable-win8+wpa81/Microsoft.Diagnostics.Tracing.EventSource.XML
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/License-Stable.rtf
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28.nupkg
packages/MySql.Data.8.0.13/.signature.p7s
packages/MySql.Data.8.0.13/lib/net452/MySql.Data.dll
packages/MySql.Data.8.0.13/lib/net452/MySql.Data.xml
packages/MySql.Data.8.0.13/lib/netcoreapp2.0/MySql.Data.dll
packages/MySql.Data.8.0.13/lib/netcoreapp2.0/MySql.Data.xml
packages/MySql.Data.8.0.13/lib/netstandard1.6/MySql.Data.dll
packages/MySql.Data.8.0.13/lib/netstandard1.6/MySql.Data.xml
packages/MySql.Data.8.0.13/lib/netstandard2.0/MySql.Data.dll
packages/MySql.Data.8.0.13/lib/netstandard2.0/MySql.Data.xml
packages/MySql.Data.8.0.13/MySql.Data.8.0.13.nupkg
packages/RabbitMQ.Client.5.1.0/.signature.p7s
packages/RabbitMQ.Client.5.1.0/lib/net451/RabbitMQ.Client.dll
packages/RabbitMQ.Client.5.1.0/lib/net451/RabbitMQ.Client.xml
packages/RabbitMQ.Client.5.1.0/lib/netstandard1.5/RabbitMQ.Client.dll
packages/RabbitMQ.Client.5.1.0/lib/netstandard1.5/RabbitMQ.Client.xml
packages/RabbitMQ.Client.5.1.0/RabbitMQ.Client.5.1.0.nupkg
packages/System.Data.SQLite.1.0.109.2/.signature.p7s
packages/System.Data.SQLite.1.0.109.2/System.Data.SQLite.1.0.109.2.nupkg
packages/System.Data.SQLite.Core.1.0.109.2/.signature.p7s
packages/System.Data.SQLite.Core.1.0.109.2/build/net20/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.109.2/build/net20/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/build/net20/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/build/net40/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.109.2/build/net40/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/build/net40/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/build/net45/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.109.2/build/net45/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/build/net45/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/build/net451/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.109.2/build/net451/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/build/net451/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/build/net46/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.109.2/build/net46/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/build/net46/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/lib/net20/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.109.2/lib/net20/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.109.2/lib/net20/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.109.2/lib/net40/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.109.2/lib/net40/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.109.2/lib/net40/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.109.2/lib/net45/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.109.2/lib/net45/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.109.2/lib/net45/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.109.2/lib/net451/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.109.2/lib/net451/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.109.2/lib/net451/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.109.2/lib/net46/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.109.2/lib/net46/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.109.2/lib/net46/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.109.2/lib/netstandard2.0/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.109.2/lib/netstandard2.0/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.109.2/lib/netstandard2.0/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.109.2/runtimes/linux-x64/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/runtimes/osx-x64/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/runtimes/win-x64/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/runtimes/win-x86/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.109.2/System.Data.SQLite.Core.1.0.109.2.nupkg
packages/System.Data.SQLite.EF6.1.0.109.0/.signature.p7s
packages/System.Data.SQLite.EF6.1.0.109.0/content/net40/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.109.0/content/net40/app.config.transform
packages/System.Data.SQLite.EF6.1.0.109.0/content/net40/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.109.0/content/net40/web.config.transform
packages/System.Data.SQLite.EF6.1.0.109.0/content/net45/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.109.0/content/net45/app.config.transform
packages/System.Data.SQLite.EF6.1.0.109.0/content/net45/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.109.0/content/net45/web.config.transform
packages/System.Data.SQLite.EF6.1.0.109.0/content/net451/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.109.0/content/net451/app.config.transform
packages/System.Data.SQLite.EF6.1.0.109.0/content/net451/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.109.0/content/net451/web.config.transform
packages/System.Data.SQLite.EF6.1.0.109.0/content/net46/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.109.0/content/net46/app.config.transform
packages/System.Data.SQLite.EF6.1.0.109.0/content/net46/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.109.0/content/net46/web.config.transform
packages/System.Data.SQLite.EF6.1.0.109.0/lib/net40/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.109.0/lib/net45/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.109.0/lib/net451/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.109.0/lib/net46/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.109.0/System.Data.SQLite.EF6.1.0.109.0.nupkg
packages/System.Data.SQLite.EF6.1.0.109.0/tools/net40/install.ps1
packages/System.Data.SQLite.EF6.1.0.109.0/tools/net45/install.ps1
packages/System.Data.SQLite.EF6.1.0.109.0/tools/net451/install.ps1
packages/System.Data.SQLite.EF6.1.0.109.0/tools/net46/install.ps1
packages/System.Data.SQLite.Linq.1.0.109.0/.signature.p7s
packages/System.Data.SQLite.Linq.1.0.109.0/content/net20/app.config.transform
packages/System.Data.SQLite.Linq.1.0.109.0/content/net20/web.config.transform
packages/System.Data.SQLite.Linq.1.0.109.0/content/net40/app.config.transform
packages/System.Data.SQLite.Linq.1.0.109.0/content/net40/web.config.transform
packages/System.Data.SQLite.Linq.1.0.109.0/content/net45/app.config.transform
packages/System.Data.SQLite.Linq.1.0.109.0/content/net45/web.config.transform
packages/System.Data.SQLite.Linq.1.0.109.0/content/net451/app.config.transform
packages/System.Data.SQLite.Linq.1.0.109.0/content/net451/web.config.transform
packages/System.Data.SQLite.Linq.1.0.109.0/content/net46/app.config.transform
packages/System.Data.SQLite.Linq.1.0.109.0/content/net46/web.config.transform
packages/System.Data.SQLite.Linq.1.0.109.0/lib/net20/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.109.0/lib/net40/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.109.0/lib/net45/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.109.0/lib/net451/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.109.0/lib/net46/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.109.0/System.Data.SQLite.Linq.1.0.109.0.nupkg
.vs/Лаб2/v15/.suo
.vs/Лаб2/v15/Server/sqlite3/db.lock
.vs/Лаб2/v15/Server/sqlite3/storage.ide
.vs/Лаб2/v15/Server/sqlite3/storage.ide-shm
.vs/Лаб2/v15/Server/sqlite3/storage.ide-wal
packages/EntityFramework.6.2.0/.signature.p7s
packages/EntityFramework.6.2.0/content/net40/App.config.transform
packages/EntityFramework.6.2.0/content/net40/Web.config.transform
packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.dll
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.xml
